body {
	margin: 0px;
	padding: 0px;
	background-color: #E5E5E5;
}
#principal{
	1margin: 0px;
	1padding: 0px;
	background-color: #E5E5E5;
	width:778px;
	height: 420px;
	background-position: top;
}
#topo{ 
	background-attachment: scroll;
	background-image: url('../img/topo_logo_acab.jpg'); 
	background-repeat: repeat-x; 
	height: 77px; 
	margin: 0px; 
	padding: 0px; 
	background-position: left top 
}
#logo{ 
	background-attachment: scroll; 
	background-image: url('../img/logo.gif'); 
	background-repeat: no-repeat; 
	height: 77px; 
	float: left; 
	width: 554px; margin: 0px; 
	padding: 0px; 
	background-position: left top }
#login       { background-attachment: scroll; background-image: 
               url('../img/background_login.jpg'); 
               background-repeat: no-repeat; float: left; text-align: right; 
               width: 163px; margin-left: 19px; margin-right: 0px; 
               margin-top: 7px; margin-bottom: 0px; padding-left: 0px; 
               padding-right: 0px; padding-top: 30px; padding-bottom: 0px; 
               background-position: left top }
.login_input {
	background-color: #E5E5E5;
	border: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	margin: 0px 5px 1px 0px;
	padding: 0px;
	height: 13px;
	width: 104px;
}
.login_botao {
	background-color: #E5E5E5;
	border-top-width: 0px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #990000;
	margin-right: 10px;
	margin-top: 5px;
}
#menu        { background-attachment: scroll; background-image: 
               url('../img/acab_menu.jpg'); 
               background-repeat: repeat-x; height: 26px; margin: 0px; 
               padding-left: 407px; padding-right: 0px; padding-top: 0px; 
               padding-bottom: 0px; background-position: left top }
#endereco {
	margin: 0px;
	padding: 2px 7px 0px;
	height: 17px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	color: #333333;
	width: 765px;
}
#conteudo {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 11px;
	width: 326px;
	padding: 0px;
	margin-left: 330px;
	margin-top: 20px;
	color: #333333;
}

#conteudo_scroll {
	font-family: "Trebuchet MS", Verdana, Arial;
	font-size: 11px;
	width: 320px;
	padding: 10px;
	margin-left: 322px;
	margin-top: 10px;
	color: #333333;
	height: auto;
}
.link01 {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

.link02 {
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
}
a:hover {
	text-decoration: underline;
	cursor:hover;
}
#menu_sist {
	height: auto;
	margin: 10px 0px 0px 10px;
	padding: 5px;
	width: 130px;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 12px;
}
#menu_sist ul {
	margin: -1px 0px 0px;
	padding: 5px;
	background-color: #A2A2A2;
	border-top: 0px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
}
#menu_sist li {
	margin: 0px;
	padding: 2px;
	border-top: 1px solid #FFE4C6;
	border-right: 0px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 0px solid #000000;
	background-color: #E5E5E5;
	list-style-type: none;
	color: #000000;
	font-size: 10px;
}
.link03 {
	font-size: 10px;
	color: #000000;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
#conteudo_sist {
	margin: 10px;
	padding: 10px;
	width: 580px;
	float: left;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #E5E5E5;
}

.conteudo_div {
	float: left;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #E5E5E5;
}

#conteudo_popup {
	margin: 10px;
	padding: 10px;
	width: 580px;
	float: left;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #E5E5E5;
	height: auto;
}

#logo_sist   { background-attachment: scroll; background-image: 
               url('../img/topo_logo.jpg'); 
               background-repeat: no-repeat; height: 110px; float: left; 
               width: 760px; margin: 0px; padding: 0px; background-position: 
               left top }
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 16px;
	margin: 0px 0px 10px;
	padding: 10px 10px 0px 0px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	text-align: right;
	background-color: #A2A2A2;
	height: 30px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
}
.sist_input {
	background-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: lighter;
	padding: 2px;
	border-top: 1px solid #000000;
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
	border-left: 1px solid #000000;
}
#login_logado {
	margin: 0px;
	padding: 20px 20px 20px;
	width: 500px;
	height: 20px;
	vertical-align: baseline;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #990000;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 12px;
	margin: 10px 0px;
	padding: 5px 10px 0px 0px;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-bottom-color: #000000;
	text-align: right;
	background-color: #A2A2A2;
	height: 20px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #000000;
	border-top-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-left-color: #000000;
}
.td01 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
	border: 1px solid #000000;
	background-color: #666666;
	text-align: center;
	padding: 3px;
}
.td02 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	background-color: #EFEFEF;
	font-weight: lighter;
	border: 1px solid #CCCCCC;
}
form {
	margin: 0px;
	padding: 0px;
}
.login_botao_sist {
	background-color: #D4D0C8;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
	margin-right: 10px;
	margin-top: 5px;
	padding: 2px;
	font-weight: bold;
}
#menu_sist_tit {
	background-color: #A2A2A2;
	padding: 5px;
	border: 1px solid #000000;
	margin-top: 2px;
}
fieldset
{
border: #26a solid 1px;
}

legend {
color: #333333;
}

img {
   cursor:hand	
}

label{
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-weight: bold;	
	align:right;
}

.padrao
{
	font-size: 10px;
	color: #333333;
	text-decoration: none;
	margin: 0px;
	padding: 0px;	
	align:right;
}

.radio
{
	font-size: 12px;
	color: #333333;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	align:right;
}

.textoMsgErro{
	font-size: 12px;
	color: red;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-weight: bold;	
	align:right;
}

.tituloErro{
	font-size: 12px;
	color: black;
	text-decoration: none;
	margin: 0px;
	padding: 0px;
	font-weight: bold;	
}

#grid{
	overflow:-moz-scrollbars-horizontal;
	overflow-x:hidden;
	overflow-y:scroll;
	width:100%;
	height:100px;
	background-color: #FEB25E;
}

#conteudo_frame {
	margin: 0px;
	padding: 0px;
	width:100%;
	height:100%;
	float: left;
	color: #333333;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bolder;
	background-color: #E5E5E5;
}

.carregando {
	background-color: #FFFFFF;
	font-size: 12px;
	padding: 50px; 
	vertical-align:middle;
}


