*.class
*.DSStore

# Package Files #
*.war
*.ear

#Arquivos do eclipse
.metadata/*.*
*/target/*.*
Servers/*.*
apps/.metadata/
apps/vortice-core/.settings/
apps/vortice-core/bin/
apps/vortice-core/.classpath
apps/vortice-core/.project
